<ion-header>
  <ion-toolbar>
    <ion-segment color="light" [(ngModel)]="nutrientGroup">
      <ion-segment-button value="macronutrients">
        Macronutrients
      </ion-segment-button>
      <ion-segment-button value="micronutrients">
        Micronutrients
      </ion-segment-button>
    </ion-segment>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>

<ion-content [ngSwitch]="nutrientGroup">
  <ion-list *ngSwitchCase="micronutrients">
    <ion-item *ngFor="let micronutrient of micronutrients | async">
      <h3>{{ micronutrient.name }}</h3>
    </ion-item>
  </ion-list>
  <ion-list *ngSwitchCase="macronutrients">
    <ion-item *ngFor="let macronutrient of macronutrients | async">
      <h3>{{ macronutrient.name }}</h3>
    </ion-item>
  </ion-list>

</ion-content>