<ion-header>
  <ion-toolbar>
    <ion-segment color="light" [(ngModel)]="nutrientGroup">
      <ion-segment-button value="macronutrients">
        Macronutrients
      </ion-segment-button>
      <ion-segment-button value="micronutrients">
        Micronutrients
      </ion-segment-button>
    </ion-segment>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>
<ion-searchbar [(ngModel)]="searchQuery"></ion-searchbar>

<ion-content [ngSwitch]="nutrientGroup">
  <ion-list *ngSwitchCase="'micronutrients'">
    <button ion-item detail-push *ngFor="let micronutrient of micronutrients | async" (click)="openNutrientDetails(micronutrient)">
      <h1>{{ micronutrient.name }}</h1>
      <p>{{ micronutrient.category }}</p>
      <ion-note item-right>
        Details
      </ion-note>
    </button>
  </ion-list>
  <ion-list *ngSwitchCase="'macronutrients'">
    <button ion-item detail-push *ngFor="let macronutrient of macronutrients | async" (click)="openNutrientDetails(macronutrient)">
      <h1>{{ macronutrient.name }}</h1>
      <p>{{ macronutrient.category }}</p>
      <ion-note item-right>
        Details
      </ion-note>
    </button>
  </ion-list>

</ion-content>