<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-searchbar [(ngModel)]="searchQuery"></ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="setFilterOpts()">
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [ngSwitch]="nutrientGroup" class="nutrient-list">
  <ion-list *ngSwitchCase="'micronutrients'">
    <button ion-item detail-push *ngFor="let micronutrient of micronutrients | async | searchFilter: searchQuery: searchBy" (click)="openNutrientDetails(micronutrient)">
      <h2>{{ micronutrient.name }}</h2>
      <p>{{ micronutrient.category }}</p>
      <ion-note item-right>
        Details
      </ion-note>
    </button>
  </ion-list>
  <ion-list *ngSwitchCase="'macronutrients'">
    <button ion-item detail-push *ngFor="let macronutrient of macronutrients | async | searchFilter: searchQuery: searchBy" (click)="openNutrientDetails(macronutrient)">
      <h2>{{ macronutrient.name }}</h2>
      <p>{{ macronutrient.category }}</p>
      <ion-note item-right>
        Details
      </ion-note>
    </button>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-segment color="light" [(ngModel)]="nutrientGroup" (ionChange)="resetSearch()">
      <ion-segment-button value="macronutrients">
        Macronutrients
      </ion-segment-button>
      <ion-segment-button value="micronutrients">
        Micronutrients
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>