// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #1E3548;
$background-color:  #fff;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  favorite:   #69BB7B,
  bayleaf:    #77A885,
  royal:      #1E3548,
  summerSky:  #8EB7DF,
  aqua:       #91D2FA
);

// Card
$card-wp-header-color: color($colors, royal);
$card-md-header-color: color($colors, royal);
$card-ios-header-color: color($colors, royal);
$card-ios-header-font-size: 22px;
$card-md-header-font-size: 22px;
$card-wp-header-font-size: 22px;

// Item divider
$item-wp-divider-color: color($colors, royal);
$item-md-divider-color: color($colors, royal);
$item-ios-divider-color: color($colors, royal);

// Item note
$item-wp-note-color: color($colors, summerSky);
$item-md-note-color: color($colors, summerSky);
$item-ios-note-color: color($colors, summerSky);

// List header
$list-wp-header-color: color($colors, royal);
$list-md-header-color: color($colors, royal);
$list-ios-header-color: color($colors, royal);
$list-md-header-font-size: 18px;
$list-ios-header-font-size: 18px;
$list-wp-header-font-size: 18px;

// Menu
$menu-md-background:  color($colors, royal);
$menu-ios-background:  color($colors, royal);
$menu-wp-background:  color($colors, royal);

// Toolbar
$toolbar-background:  color($colors, royal);
$toolbar-ios-background:  color($colors, royal);
$toolbar-md-background:  color($colors, royal);
$toolbar-wp-background:  color($colors, royal);

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionicons";
