<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
      		<ion-icon name="menu"></ion-icon>
    	</button>
		<ion-title color="light">
			<ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="currentDate" (ionChange)="syncMj()"></ion-datetime>
		</ion-title>
		<ion-buttons end>
			<button ion-button (click)="openMjDetails()">
				<ion-icon name="open"></ion-icon>
			</button>
			<button ion-button (click)="updateMj()">
				<ion-icon name="refresh"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>


<ion-content>
	<ion-fab bottom right fixed>
		<button ion-fab color="primary" (click)="searchMeal()">
      <ion-icon name="add"></ion-icon>
    </button>
	</ion-fab>
	
	<ion-card>
		<ion-card-header>
			Breakfast
		</ion-card-header>
		<ion-card-content>
			<ion-item-sliding *ngFor="let meal of mealJournal.breakfast.meals; let i = index">
				<ion-item>
					{{ meal.name }} {{ meal.chef ? meal.amount : meal.amount + 'g' }}
					<ion-note item-right>Swipe</ion-note>
				</ion-item>
				<ion-item-options side="right">
					<button ion-button type="button" color="primary" (click)="changeQuantity(meal)">
						<ion-icon name="create"></ion-icon>
					</button>
					<button ion-button type="button" color="light" (click)="removeMeal('breakfast', i)">
						<ion-icon name="trash"></ion-icon>
					</button>
				</ion-item-options>
			</ion-item-sliding>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-header>
			Brunch
		</ion-card-header>
		<ion-card-content>
			<ion-item-sliding *ngFor="let meal of mealJournal.brunch.meals; let i = index">
				<ion-item>
					{{ meal.name }} {{ meal.chef ? meal.amount : meal.amount + 'g' }}
					<ion-note item-right>Swipe</ion-note>
				</ion-item>
				<ion-item-options side="right">
					<button ion-button type="button" color="primary" (click)="changeQuantity(meal)">
						<ion-icon name="create"></ion-icon>
					</button>
					<button ion-button type="button" color="light" (click)="removeMeal('brunch', i)">
						<ion-icon name="trash"></ion-icon>
					</button>
				</ion-item-options>
			</ion-item-sliding>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-header>
			Lunch
		</ion-card-header>
		<ion-card-content>
			<ion-item-sliding *ngFor="let meal of mealJournal.lunch.meals; let i = index">
				<ion-item>
					{{ meal.name }} {{ meal.chef ? meal.amount : meal.amount + 'g' }}
					<ion-note item-right>Swipe</ion-note>
				</ion-item>
				<ion-item-options side="right">
					<button ion-button type="button" color="primary" (click)="changeQuantity(meal)">
						<ion-icon name="create"></ion-icon>
					</button>
					<button ion-button type="button" color="light" (click)="removeMeal('lunch', i)">
						<ion-icon name="trash"></ion-icon>
					</button>
				</ion-item-options>
			</ion-item-sliding>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-header>
			Snack
		</ion-card-header>
		<ion-card-content>
			<ion-item-sliding *ngFor="let meal of mealJournal.snack.meals; let i = index">
				<ion-item>
					{{ meal.name }} {{ meal.chef ? meal.amount : meal.amount + 'g' }}
					<ion-note item-right>Swipe</ion-note>
				</ion-item>
				<ion-item-options side="right">
					<button ion-button type="button" color="primary" (click)="changeQuantity(meal)">
						<ion-icon name="create"></ion-icon>
					</button>
					<button ion-button type="button" color="light" (click)="removeMeal('snack', i)">
						<ion-icon name="trash"></ion-icon>
					</button>
				</ion-item-options>
			</ion-item-sliding>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-header>
			Dinner
		</ion-card-header>
		<ion-card-content>
			<ion-item-sliding *ngFor="let meal of mealJournal.dinner.meals; let i = index">
				<ion-item>
					{{ meal.name }} {{ meal.chef ? meal.amount : meal.amount + 'g' }}
					<ion-note item-right>Swipe</ion-note>
				</ion-item>
				<ion-item-options side="right">
					<button ion-button type="button" color="primary" (click)="changeQuantity(meal)">
						<ion-icon name="create"></ion-icon>
					</button>
					<button ion-button type="button" color="light" (click)="removeMeal('dinner', i)">
						<ion-icon name="trash"></ion-icon>
					</button>
				</ion-item-options>
			</ion-item-sliding>
		</ion-card-content>
	</ion-card>
</ion-content>