$sidemenu-transparency: rgba(142,183,223,0.4);

.sidemenu ion-content {
    background: #1e3548; /* Old Browsers */
    background: -webkit-linear-gradient(top,#1e3548,#2a6264); /*Safari 5.1-6*/
    background: -o-linear-gradient(top,#1e3548,#2a6264); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top,#1e3548,#2a6264); /*Fx 3.6-15*/
    background: linear-gradient(to bottom, #1e3548, #2a6264); /*Standard*/
}

.sidemenu-item {
     background: none!important;
     color: color($colors, summerSky)!important;
     padding-top: .1em!important;
     padding-bottom: .1em!important;
    &.activated {
        background: $sidemenu-transparency!important;
    }
}

.profile {
    margin: 2em;
    img {
        display: block;
        border-radius: 50%;
        margin: auto;
        border: 4px solid $sidemenu-transparency;
    }
    .profile-name {
        text-align: center;
        font-weight: 300;
    }   
}