<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-searchbar [(ngModel)]="searchQuery"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [ngSwitch]="recipeOwner" class="recipe-list">
  <ion-list *ngSwitchCase="'mine'">
    <button ion-item detail-push *ngFor="let recipe of myRecipes | async | searchFilter: searchQuery: searchBy" (click)="viewRecipe(recipe)">
      <h2>{{ recipe.name }}</h2>
      <p>{{ recipe.dietary }}</p>
      <ion-note item-right>
        Details
      </ion-note>
    </button>
  </ion-list>
  <ion-list *ngSwitchCase="'all'">
    <button ion-item detail-push *ngFor="let recipe of allRecipes | async | searchFilter: searchQuery: searchBy" (click)="viewRecipe(recipe)">
      <h2>{{ recipe.name }}</h2>
      <p>{{ recipe.dietary }}</p>
      <ion-note item-right>
        Details
      </ion-note>
    </button>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-segment color="light" [(ngModel)]="recipeOwner" (ionChange)="resetSearch()">
      <ion-segment-button value="mine">
        Mine
      </ion-segment-button>
      <ion-segment-button value="all">
        All
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>