<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button clear (click)="doneAdding()">
        Done
      </button>
    </ion-buttons>
    <ion-searchbar [(ngModel)]="searchQuery"></ion-searchbar>
    <ion-buttons end>
      <button ion-button clear (click)="cancelAdd()">
        Cancel
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content [ngSwitch]="mealType">
  <ion-list *ngSwitchCase="'food'">
    <ion-item *ngFor="let meal of food | async | searchFilter: searchQuery: 'name'">
      <ion-label>{{ meal.name }}</ion-label>
      <ion-checkbox #mealCheck [checked]="selectedMeals.indexOf(meal) >= 0" (click)="setmeal(meal, mealCheck)">
      </ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-list *ngSwitchCase="'recipe'">
    <ion-item *ngFor="let meal of recipes | async | searchFilter: searchQuery: 'name'">
      <ion-label>{{ meal.name }}</ion-label>
      <ion-checkbox #mealCheck [checked]="selectedMeals.indexOf(meal) >= 0" (click)="setmeal(meal, mealCheck)">
      </ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-segment color="light" [(ngModel)]="mealType" (ionChange)="resetSearch()">
      <ion-segment-button value="food">
        Food
      </ion-segment-button>
      <ion-segment-button value="recipe">
        Recipes
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>