.nutrient-report {
    ion-card-header {
        font-size: 22px;
    }
    ion-list-header, ion-item-divider {
        font-size: 16px;
        font-weight: bold;
    }
    h3 {
        font-size: 18px;
        font-weight: bold;
    }
}