<ion-header>
	<ion-navbar>
		<ion-title>
			{{ nutrient.name }}
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content [ngSwitch]="nutrientDetails" class="nutrient-report">
	<div *ngSwitchCase="'summary'">
		<ion-card>
			<ion-card-header>Description</ion-card-header>
			<ion-card-content [innerHtml]="nutrient.description"></ion-card-content>
		</ion-card>

		<ion-card>
			<ion-card-header>Functions</ion-card-header>
			<ion-card-content>
				<ion-list>
					<ion-item *ngFor="let function of nutrient.functions">{{ function }}</ion-item>
				</ion-list>
			</ion-card-content>
		</ion-card>

		<ion-card>
			<ion-card-header>Disease preventions</ion-card-header>
			<ion-card-content>
				<ion-list>
					<ion-item *ngFor="let disease of nutrient.diseasePrev">{{ disease }}</ion-item>
				</ion-list>
			</ion-card-content>
		</ion-card>

		<ion-card>
			<ion-card-header>Deficiency</ion-card-header>
			<ion-card-content>
				<p [innerHtml]="nutrient.deficiency"></p>
			</ion-card-content>
		</ion-card>

		<ion-card *ngSwitchCase="'toxicity'">
			<ion-card-header>Toxicity</ion-card-header>
			<ion-card-content>
				<p [innerHtml]="nutrient.toxicity"></p>
			</ion-card-content>
		</ion-card>
		<ion-card>
			<ion-card-header>Nutrient relationships</ion-card-header>
			<ion-card-content>
				<p [innerHtml]="nutrient.nutrientRelationship"></p>
			</ion-card-content>
		</ion-card>
	</div>

	<div *ngSwitchCase="'classification'">
		<div *ngFor="let type of nutrient.classification">
			<ion-card>
				<ion-card-header>{{ type.name }}</ion-card-header>
				<ion-card-content>
					<p [innerHtml]="type.description"></p>
				</ion-card-content>
			</ion-card>
			<ion-card *ngIf="type.intake">
				<ion-card-header>Recommended intake</ion-card-header>
				<ion-card-content>
					<ion-list>
						<ion-list-header>Male</ion-list-header>
						<ion-item>
							0-6 month
							<ion-note item-right>{{ type.intake.male['0-6 months'] }}{{ intakeUnit }}</ion-note>
						</ion-item>
						<ion-item>
							7-12 months
							<ion-note item-right>{{ type.intake.male['7-12 months'] }}{{ intakeUnit }}</ion-note>
						</ion-item>
						<ion-item>
							1-3 years
							<ion-note item-right>{{ type.intake.male['1-3 years'] }}{{ intakeUnit }}</ion-note>
						</ion-item>
						<ion-item>
							4-8 years
							<ion-note item-right>{{ type.intake.male['4-8 years'] }}{{ intakeUnit }}</ion-note>
						</ion-item>
						<ion-item>
							9-13 years
							<ion-note item-right>{{ type.intake.male['9-13 years'] }}{{ intakeUnit }}</ion-note>
						</ion-item>
						<ion-item>
							14-18 years
							<ion-note item-right>{{ type.intake.male['14-18 years'] }}{{ intakeUnit }}</ion-note>
						</ion-item>
						<ion-item>
							19-50 years
							<ion-note item-right>{{ type.intake.male['19-50 years'] }}{{ intakeUnit }}</ion-note>
						</ion-item>
						<ion-item>
							50-70 years
							<ion-note item-right>{{ type.intake.male['50-70 years'] }}{{ intakeUnit }}</ion-note>
						</ion-item>
						<ion-item>
							70+ years
							<ion-note item-right>{{ type.intake.male['70+ years'] }}{{ intakeUnit }}</ion-note>
						</ion-item>
						<ion-list-header>Female</ion-list-header>
						<ion-item>
							0-6 month
							<ion-note item-right>{{ type.intake.female.normal['0-6 months'] }}{{ intakeUnit }}</ion-note>
						</ion-item>
						<ion-item>
							7-12 months
							<ion-note item-right>{{ type.intake.female.normal['7-12 months'] }}{{ intakeUnit }}</ion-note>
						</ion-item>
						<ion-item>
							1-3 years
							<ion-note item-right>{{ type.intake.female.normal['1-3 years'] }}{{ intakeUnit }}</ion-note>
						</ion-item>
						<ion-item>
							4-8 years
							<ion-note item-right>{{ type.intake.female.normal['4-8 years'] }}{{ intakeUnit }}</ion-note>
						</ion-item>
						<ion-item>
							9-13 years
							<ion-note item-right>{{ type.intake.female.normal['9-13 years'] }}{{ intakeUnit }}</ion-note>
						</ion-item>
						<ion-item>
							14-18 years
							<ion-note item-right>{{ type.intake.female.normal['14-18 years'] }}{{ intakeUnit }}</ion-note>
						</ion-item>
						<ion-item>
							19-50 years
							<ion-note item-right>{{ type.intake.female.normal['19-50 years'] }}{{ intakeUnit }}</ion-note>
						</ion-item>
						<ion-item>
							50-70 years
							<ion-note item-right>{{ type.intake.female.normal['50-70 years'] }}{{ intakeUnit }}</ion-note>
						</ion-item>
						<ion-item>
							70+ years
							<ion-note item-right>{{ type.intake.female.normal['70+ years'] }}{{ intakeUnit }}</ion-note>
						</ion-item>
						<ion-list-header>Pregnancy</ion-list-header>
						<ion-item>
							0-6 month
							<ion-note item-right>{{ type.intake.female.pregnancy['0-6 months'] }}{{ intakeUnit }}</ion-note>
						</ion-item>
						<ion-item>
							7-12 months
							<ion-note item-right>{{ type.intake.female.pregnancy['7-12 months'] }}{{ intakeUnit }}</ion-note>
						</ion-item>
						<ion-item>
							1-3 years
							<ion-note item-right>{{ type.intake.female.pregnancy['1-3 years'] }}{{ intakeUnit }}</ion-note>
						</ion-item>
						<ion-item>
							4-8 years
							<ion-note item-right>{{ type.intake.female.pregnancy['4-8 years'] }}{{ intakeUnit }}</ion-note>
						</ion-item>
						<ion-item>
							9-13 years
							<ion-note item-right>{{ type.intake.female.pregnancy['9-13 years'] }}{{ intakeUnit }}</ion-note>
						</ion-item>
						<ion-item>
							14-18 years
							<ion-note item-right>{{ type.intake.female.pregnancy['14-18 years'] }}{{ intakeUnit }}</ion-note>
						</ion-item>
						<ion-item>
							19-50 years
							<ion-note item-right>{{ type.intake.female.pregnancy['19-50 years'] }}{{ intakeUnit }}</ion-note>
						</ion-item>
						<ion-item>
							50-70 years
							<ion-note item-right>{{ type.intake.female.pregnancy['50-70 years'] }}{{ intakeUnit }}</ion-note>
						</ion-item>
						<ion-item>
							70+ years
							<ion-note item-right>{{ type.intake.female.pregnancy['70+ years'] }}{{ intakeUnit }}</ion-note>
						</ion-item>
						<ion-list-header>Lactation</ion-list-header>
						<ion-item>
							0-6 month
							<ion-note item-right>
								{{ type.intake.female.lactation['0-6 months'] }}{{ intakeUnit }}</ion-note>
						</ion-item>
						<ion-item>
							7-12 months
							<ion-note item-right>{{ type.intake.female.lactation['7-12 months'] }}{{ intakeUnit }}</ion-note>
						</ion-item>
						<ion-item>
							1-3 years
							<ion-note item-right>{{ type.intake.female.lactation['1-3 years'] }}{{ intakeUnit }}</ion-note>
						</ion-item>
						<ion-item>
							4-8 years
							<ion-note item-right>{{ type.intake.female.lactation['4-8 years'] }}{{ intakeUnit }}</ion-note>
						</ion-item>
						<ion-item>
							9-13 years
							<ion-note item-right>{{ type.intake.female.lactation['9-13 years'] }}{{ intakeUnit }}</ion-note>
						</ion-item>
						<ion-item>
							14-18 years
							<ion-note item-right>{{ type.intake.female.lactation['14-18 years'] }}{{ intakeUnit }}</ion-note>
						</ion-item>
						<ion-item>
							19-50 years
							<ion-note item-right>{{ type.intake.female.lactation['19-50 years'] }}{{ intakeUnit }}</ion-note>
						</ion-item>
						<ion-item>
							50-70 years
							<ion-note item-right>{{ type.intake.female.lactation['50-70 years'] }}{{ intakeUnit }}</ion-note>
						</ion-item>
						<ion-item>
							70+ years
							<ion-note item-right>{{ type.intake.female.lactation['70+ years'] }}{{ intakeUnit }}</ion-note>
						</ion-item>
					</ion-list>
				</ion-card-content>
			</ion-card>
		</div>

	</div>

	<ion-card *ngSwitchCase="'rdi'">
		<ion-card-content>
			<ion-list>
				<ion-list-header>Male</ion-list-header>
				<ion-item>
					0-6 month
					<ion-note item-right>{{ nutrient.intake.male['0-6 months'] }}{{ intakeUnit }}</ion-note>
				</ion-item>
				<ion-item>
					7-12 months
					<ion-note item-right>{{ nutrient.intake.male['7-12 months'] }}{{ intakeUnit }}</ion-note>
				</ion-item>
				<ion-item>
					1-3 years
					<ion-note item-right>{{ nutrient.intake.male['1-3 years'] }}{{ intakeUnit }}</ion-note>
				</ion-item>
				<ion-item>
					4-8 years
					<ion-note item-right>{{ nutrient.intake.male['4-8 years'] }}{{ intakeUnit }}</ion-note>
				</ion-item>
				<ion-item>
					9-13 years
					<ion-note item-right>{{ nutrient.intake.male['9-13 years'] }}{{ intakeUnit }}</ion-note>
				</ion-item>
				<ion-item>
					14-18 years
					<ion-note item-right>{{ nutrient.intake.male['14-18 years'] }}{{ intakeUnit }}</ion-note>
				</ion-item>
				<ion-item>
					19-50 years
					<ion-note item-right>{{ nutrient.intake.male['19-50 years'] }}{{ intakeUnit }}</ion-note>
				</ion-item>
				<ion-item>
					50-70 years
					<ion-note item-right>{{ nutrient.intake.male['50-70 years'] }}{{ intakeUnit }}</ion-note>
				</ion-item>
				<ion-item>
					70+ years
					<ion-note item-right>{{ nutrient.intake.male['70+ years'] }}{{ intakeUnit }}</ion-note>
				</ion-item>
				<ion-list-header>Female</ion-list-header>
				<ion-item>
					0-6 month
					<ion-note item-right>{{ nutrient.intake.female.normal['0-6 months'] }}{{ intakeUnit }}</ion-note>
				</ion-item>
				<ion-item>
					7-12 months
					<ion-note item-right>{{ nutrient.intake.female.normal['7-12 months'] }}{{ intakeUnit }}</ion-note>
				</ion-item>
				<ion-item>
					1-3 years
					<ion-note item-right>{{ nutrient.intake.female.normal['1-3 years'] }}{{ intakeUnit }}</ion-note>
				</ion-item>
				<ion-item>
					4-8 years
					<ion-note item-right>{{ nutrient.intake.female.normal['4-8 years'] }}{{ intakeUnit }}</ion-note>
				</ion-item>
				<ion-item>
					9-13 years
					<ion-note item-right>{{ nutrient.intake.female.normal['9-13 years'] }}{{ intakeUnit }}</ion-note>
				</ion-item>
				<ion-item>
					14-18 years
					<ion-note item-right>{{ nutrient.intake.female.normal['14-18 years'] }}{{ intakeUnit }}</ion-note>
				</ion-item>
				<ion-item>
					19-50 years
					<ion-note item-right>{{ nutrient.intake.female.normal['19-50 years'] }}{{ intakeUnit }}</ion-note>
				</ion-item>
				<ion-item>
					50-70 years
					<ion-note item-right>{{ nutrient.intake.female.normal['50-70 years'] }}{{ intakeUnit }}</ion-note>
				</ion-item>
				<ion-item>
					70+ years
					<ion-note item-right>{{ nutrient.intake.female.normal['70+ years'] }}{{ intakeUnit }}</ion-note>
				</ion-item>
				<ion-list-header>Pregnancy</ion-list-header>
				<ion-item>
					0-6 month
					<ion-note item-right>{{ nutrient.intake.female.pregnancy['0-6 months'] }}{{ intakeUnit }}</ion-note>
				</ion-item>
				<ion-item>
					7-12 months
					<ion-note item-right>{{ nutrient.intake.female.pregnancy['7-12 months'] }}{{ intakeUnit }}</ion-note>
				</ion-item>
				<ion-item>
					1-3 years
					<ion-note item-right>{{ nutrient.intake.female.pregnancy['1-3 years'] }}{{ intakeUnit }}</ion-note>
				</ion-item>
				<ion-item>
					4-8 years
					<ion-note item-right>{{ nutrient.intake.female.pregnancy['4-8 years'] }}{{ intakeUnit }}</ion-note>
				</ion-item>
				<ion-item>
					9-13 years
					<ion-note item-right>{{ nutrient.intake.female.pregnancy['9-13 years'] }}{{ intakeUnit }}</ion-note>
				</ion-item>
				<ion-item>
					14-18 years
					<ion-note item-right>{{ nutrient.intake.female.pregnancy['14-18 years'] }}{{ intakeUnit }}</ion-note>
				</ion-item>
				<ion-item>
					19-50 years
					<ion-note item-right>{{ nutrient.intake.female.pregnancy['19-50 years'] }}{{ intakeUnit }}</ion-note>
				</ion-item>
				<ion-item>
					50-70 years
					<ion-note item-right>{{ nutrient.intake.female.pregnancy['50-70 years'] }}{{ intakeUnit }}</ion-note>
				</ion-item>
				<ion-item>
					70+ years
					<ion-note item-right>{{ nutrient.intake.female.pregnancy['70+ years'] }}{{ intakeUnit }}</ion-note>
				</ion-item>
				<ion-list-header>Lactation</ion-list-header>
				<ion-item>
					0-6 month
					<ion-note item-right>{{ nutrient.intake.female.lactation['0-6 months'] }}{{ intakeUnit }}</ion-note>
				</ion-item>
				<ion-item>
					7-12 months
					<ion-note item-right>{{ nutrient.intake.female.lactation['7-12 months'] }}{{ intakeUnit }}</ion-note>
				</ion-item>
				<ion-item>
					1-3 years
					<ion-note item-right>{{ nutrient.intake.female.lactation['1-3 years'] }}{{ intakeUnit }}</ion-note>
				</ion-item>
				<ion-item>
					4-8 years
					<ion-note item-right>{{ nutrient.intake.female.lactation['4-8 years'] }}{{ intakeUnit }}</ion-note>
				</ion-item>
				<ion-item>
					9-13 years
					<ion-note item-right>{{ nutrient.intake.female.lactation['9-13 years'] }}{{ intakeUnit }}</ion-note>
				</ion-item>
				<ion-item>
					14-18 years
					<ion-note item-right>{{ nutrient.intake.female.lactation['14-18 years'] }}{{ intakeUnit }}</ion-note>
				</ion-item>
				<ion-item>
					19-50 years
					<ion-note item-right>{{ nutrient.intake.female.lactation['19-50 years'] }}{{ intakeUnit }}</ion-note>
				</ion-item>
				<ion-item>
					50-70 years
					<ion-note item-right>{{ nutrient.intake.female.lactation['50-70 years'] }}{{ intakeUnit }}</ion-note>
				</ion-item>
				<ion-item>
					70+ years
					<ion-note item-right>{{ nutrient.intake.female.lactation['70+ years'] }}{{ intakeUnit }}</ion-note>
				</ion-item>
			</ion-list>
		</ion-card-content>
	</ion-card>

</ion-content>

<ion-footer>
	<ion-toolbar>
		<ion-segment color="light" [(ngModel)]="nutrientDetails">
			<ion-segment-button value="summary">
				Summary
			</ion-segment-button>
			<ion-segment-button value="classification">
				Classification
			</ion-segment-button>
			<ion-segment-button value="rdi">
				RDI
			</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-footer>